<!-- Cabeçalho  -->
<div class="topo">
  <img src="../../../assets/logo.svg" alt="Logo com moedas">
</div>

<!-- Listagem de Cards de acordo com os dados recebidos da API externa -->
<main>

  <div class="conteudo" *ngIf="listaDeMoedas.length > 0">

    <div class="card" *ngFor="let item of listaDeMoedas">
      <div class="header-card">
        <p>{{ item['name'] }}</p>
      </div>
      <div class="body-card">
        <p class="verde">{{ item['bid'] | formatarNumeroPipe }}</p>
      </div>
      <div class="footer-card">
        <div class="variacao">
          <p class="title-footer">Variação (%)</p>
          <p class="text-footer">{{ item['pctChange'] }}</p>
        </div>
        <div class="atualizado">
          <p class="title-footer">Atualizado</p>
          <p class="text-footer">{{ item['create_date'] }}</p>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="listaDeMoedas.length === 0">
    <p>Não existem moedas para listar no momento.</p>
  </div>

</main>
