<!-- Cabeçalho  -->
<header>
  <div class="logo">
    <img src="../../../assets/logo.svg" alt="Logo com moedas">
  </div>
</header>
<!-- Listagem de Cards de acordo com os dados recebidos da API externa -->
<main>
  <!-- Abre Conteudo -->
  <div class="conteudo" *ngIf="listaDeMoedas.length > 0">
    <!-- Abre Card -->
    <div class="card" *ngFor="let item of listaDeMoedas">

      <!-- #### Abre Header Card -->
      <div *ngIf="item['name'] !== undefined" class="header-card">
        <p>{{ item['name'] | formatarTextoCard }}</p>
      </div>

      <!-- #### Abre Header Error Card -->
      <div *ngIf="item['name'] == undefined" class="header-card">
        <p>Erro</p>
      </div>

      <!-- #### Abre Body Card -->
      <div *ngIf="item['bid']" class="body-card">
        <p class="{{ item['bid'] | formatarCorCard }}">{{ item['bid'] | formatarValorCard }}</p>
      </div>

      <!--  #### Abre Body Error Card Alterado  -->
      <div *ngIf="!item['bid']" class="body-card">
        <div class="text-error-body-card">
          <p>Algo deu errado</p>
          <br>
          <button (click)="recarregarMoeda('USD-BRL')">RECARREGAR</button>
        </div>
      </div>

      <!--  #### Abre Footer Card  -->
      <div *ngIf="item['pctChange'] !== undefined" class="footer-card">
        <div class="variacao">
          <p class="title-footer">Variação (%)</p>
          <p class="text-footer">{{ item['pctChange'] }}</p>
        </div>
        <div class="atualizado">
          <p class="title-footer">Atualizado</p>
          <p class="text-footer">{{ item['create_date'] | formatarHorarioCard }}</p>
        </div>
      </div>

    </div> <!-- Fecha Card -->

  </div> <!-- Fecha Conteudo -->

</main>
