<!-- HEADER -->
<div class="topo">
  <img src="../../../assets/logo.svg" alt="Logo com moedas">
</div>

<!-- APP -->
<main>

  <!-- CARD 1 -->
      <div class="card">
        <div class="header-card">
          <p>Dólar Canadense</p>
        </div>
        <div class="body-card">
          <p class="verde">R$ 4,38</p>
        </div>
        <div class="footer-card">
          <div class="variacao">
            <p class="title-footer">Variação (%)</p>
            <p class="text-footer">-0,11</p>
          </div>
          <div class="atualizado">
            <p class="title-footer">Atualizado</p>
            <p class="text-footer">20:08:08</p>
          </div>
        </div>
      </div>

    <!-- CARD 2 -->
    <div class="card">
      <div class="header-card">
        <p>Peso Chileno</p>
      </div>
      <div class="body-card">
        <p class="verde">R$ 6,13</p>
      </div>
      <div class="footer-card">
        <div class="variacao">
          <p class="title-footer">Variação (%)</p>
          <p class="text-footer">-0,81</p>
        </div>
        <div class="atualizado">
          <p class="title-footer">Atualizado</p>
          <p class="text-footer">10:01:13</p>
        </div>
      </div>
    </div>

  <!-- CARD 3 -->
  <div class="card">
    <div class="header-card">
      <p>Libra Esterlina</p>
    </div>
    <div class="body-card">
      <p class="verde">R$ 10,01</p>
    </div>
    <div class="footer-card">
      <div class="variacao">
        <p class="title-footer">Variação (%)</p>
        <p class="text-footer">-0,41</p>
      </div>
      <div class="atualizado">
        <p class="title-footer">Atualizado</p>
        <p class="text-footer">06:05:28</p>
      </div>
    </div>
  </div>

</main>
