@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400%3B500%3B600%3B700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
